<%- include('partials/nav'); %>
      <div class="container">
      <!--CAROUSEL-->
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://trello-attachments.s3.amazonaws.com/5ef8322c45306b8a49d85eaf/5f1a969ebd42fc4fc267a396/1ccf2d98f7a825156fbcfce31e5eb7ec/home-section1.jpg" class="img-fluid w-100 h-100" alt="welcome">
            <div  class="carousel-caption  d-md-block">
              <br>
              <p class="carouselpara1" >COMPANIES WANT AN ELITE PROGRAMMER WHO IS A SHADE ABOVE </p>
              <p class="carouselpara1">Step out of the crowd</p>
              <a href="/courses" >
                <button type="button" class="btn btnmain btn-sm">Enroll Now!&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://trello-attachments.s3.amazonaws.com/5ef8322c45306b8a49d85eaf/5f1a969ebd42fc4fc267a396/ee4ee5788db6d95ede1dd1e1b65cd783/home-section2.jpg" class="img-fluid w-100 h-100" alt="welcome">
            <div  style=" background: rgba(122, 130, 136, 0.6)" class="carousel-caption  d-md-block">
              <p class="carouselpara">GET ONE ON ONE MENTORING</p>
              <p class="carouselpara">Learn from the Industry experts</p>
              <a href="/courses" >
                <button type="button" class="btn btnmain btn-sm">Enroll Now!&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://trello-attachments.s3.amazonaws.com/5ef8322c45306b8a49d85eaf/5f1a969ebd42fc4fc267a396/860c3bfffd89aa79f60095a266473850/stack-section0.jpg" class="img-fluid w-100 h-100" alt="YT channel">
            <div class="carousel-caption">
              <p class="carouselpara"> Check out our youtube channel!</p>
              <p class="carouselpara">Quality Tech Videos</p>
              <a href="https://www.youtube.com/user/NicknetVideos" target="_blank">
                <button type="button" class="btn btn-primary btn-sm">Watch Now&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
              </a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
      <br>
      <div class="container">
        <h2 class="text-center my-3 py-3 bg-light" id="achievementtextdark">World's Best Full Stack Training</h2>
        <div>
          <div class="row">
            <div class="col-md-4">
              <div class="numberCircle">1</div>
              <div class="text-center features">
                Learn in-demand skills
              </div>
            </div>
            <div class="col-md-4">
              <div class="numberCircle">2</div>
              <div class="text-center features">
                Get One on One mentorship
              </div>
            </div>
            <div class="col-md-4">
              <div class="numberCircle">3</div>
              <div class="text-center features">
                Flow industry level best practises
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="numberCircle text-center">4</div>
              <div class="text-center features">
                Learn from Industry Experts
              </div>
            </div>
            <div class="col-md-4">
              <div class="numberCircle">5</div>
              <div class="text-center features">
                Create dynamic websites which looks good on all devices
              </div>
            </div>
            <div class="col-md-4">
              <div class="numberCircle">6</div>
              <div class="text-center features">
                <b>Get Certified - Get Ahead</b>
              </div>
            </div>
          </div>
        </div>
        <br>
        <a href="/courses">
          <button type="button" class="btn btnmain" style="width: 100%;">Enroll Now!&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
        </a>
      </div>
      <br><br>
        <!--achievements-->
      <div class="container">
        <h2 class="text-center my-3 py-3 bg-dark" id="achievementtextlight">What students say about us</h2>
        <div class="card-group">
          <div class="card mb-3 mx-3" >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./images/pngwave.png" class="card-img" alt="student1">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Abhishek Sharma</h5>
                  <p class="card-text">My experience with Nicknet Learning was great! I learnt all about web development and it was great. Our instructor did a great job on clearing our doubts. The training itself was very informative, from basic to advanced all the concepts were cleared in an easily understandable manner. I'm pretty confident now that I can make my own website without any help. I recommend this training to anyone who's willing to learn and gather the latest skills!</p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 mx-3" > 
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./images/pngwave.png" class="card-img" alt="student2">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Shubham Kumar</h5>
                  <p class="card-text">I have got a great experience through the Nicknet Full Stack training. I learnt how to make a beautiful UI with the help of bootstrap, javascript, and jQuery. I learnt to create our own API with the help of Node js, Express, and MongoDB.

                    Apart from that, I got exposure to working with a team, which will be useful when I'll join an IT company. Overall it's been a wonderful experience.</p>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
        <a href="/courses">
          <button type="button" class="btn btnmain" style="width: 100%;">Enroll Now!&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
        </a>
      </div>
      <br><br>
      <!--mentor-->
      <div class="container">
        <h2 class="text-center my-3 py-3 bg-light" id="achievementtextdark">Meet your mentor</h2>
        <div class="card-group">
          <div class="card mb-3 mx-3" >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./images/nitish.jpg" style="width: 16rem;height: 16rem;" class="card-img" alt="Nitish Kumar">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Nitish Kumar</h5>
                  <small>Full Stack developer at Gartner</small>
                  <hr>
                  <p class="card-text">Nitish Kumar is a Full Stack developer and certified Scrum master. He has been working with top MNC companies. He has 5 years of industry experience in developing multiple end to end web applications. He has created multiple web apps ranging from Static Websites, E-Commerce, Social Media, Auto Tweeter and more.</p>
                  <a href="https://www.linkedin.com/in/nitish-kumar-81702b9b/" target="_blank">Learn more on Linkedin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mentor -->
      <a href="/courses">
        <button type="button" class="btn btnmain" style="width: 100%;">Enroll Now!&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></button>
      </a>
      </div>
      <br><br>
<%- include('partials/footer'); %>
</body>
</html>