<%- include('partials/nav'); %>
		<div class="container" >
			<div class="row">
				<div class="col-md-4">
					<!-- Blank DIV -->
				</div>
				
				<div class="col-md-4 main">
                    <h1>login</h1> 
  
                   <form >
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" name="email" class="form-control" id="email"  placeholder="Enter email" required/>            
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  
                  </form>
                  
                </div>
                
                <div class="col-md-4">
					<!-- Blank DIV -->
				</div>
				
      </div>
      <div class="alert alert-danger" id="alert1" role="alert">
        Check your credentials!
      </div>
      <div class="alert alert-success"  id="alert2" role="alert">
        Thanks for logging in!
      </div>
    </div>
    <%- include('partials/footer'); %>
    <script src="./js/loginrequests.js"></script>
  </body>
  </html>