#buttonsonly a{
    background-color: #ff540a;
    color: white;
}
#buttonsonly a:hover{

    background-color:#e64500    ;
}

#logoname{
    font-weight: bold;
    color: #002856;
}

  footer a{
    font-weight: normal;
    font-size: 19px;
    color: #002856;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.main{
	padding:20px;
	
	
}
.main h1{
	font-size: 30px;
	text-align:center;
	
	color: #002856;
}
input{
	
    width: 100%;
	font-size: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
}
button[type=submit] {
	
	width: 100%;
    background-color:  #ff540a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 15px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



button[type=submit]:hover {
	
	width: 100%;
    background-color:  #e64500;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 15px;
}
#gridCheck1 {
    position:absolute;
    margin-left: -1.25rem;
}					