img.d-block{
    width:100%;
    max-height: 400px;
    
} 
.centered-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signuplink{
    color:white
}
#logoname{
    font-weight: bold;
    color: #002856;
}
#logoname-foot{
    font-weight: bold;
    color: #f3f3f3;
}
.footer-text{
    color: #f3f3f3;
}
.numberCircle {
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    padding: 8px;
    align-items: center;

    margin: auto;
    background: #fff;
    border: 2px solid #ff540a;
    color: #ff540a;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}
.features{
    margin: auto;
}
#buttonsonly a{
    background-color: #ff540a;
    color: white;
}
#buttonsonly a:hover{

    background-color:#e64500    ;
}

#achievementtextlight{
    color: #f3f3f3;
    font-weight: bold;
}
#achievementtextdark{
    color: #002856;
    font-weight: bold;
}
#poweredby{
    color: #002856;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.company li{
    list-style-type: none;
    float: left;
}
img.poweredpics{
    max-width: 100%;
    max-height: 200px;
    border-radius: 50%;
    
}

footer a{
    font-weight: normal;
    font-size: 19px;
    color: #002856;
}
.cjumbotron {
    background-image: url("https://trello-attachments.s3.amazonaws.com/5ef8322c45306b8a49d85eaf/5f1a969ebd42fc4fc267a396/860c3bfffd89aa79f60095a266473850/stack-section0.jpg");
    background-size: cover;

  }

#jumboheading{
    font-size: 44px;
    font-weight: 700;
    
}
.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.newcourses{
    width: 30%;
    margin: 0.5rem;
    height:auto;
}

.newcourses p{
    font-size: 1rem;
}
.callbutton{
    color: #ff540a;;
}

.btn-success2{
    background-color: #06c4b0;
    color: white;
}
.btn-success2:hover{
    background-color: #06c4b0;
    color: white;
}
.btnmain{
    background-color: #ff540a;
    color: white;
}
.btnmain:hover{
    background-color:#e64500;
    color:white    ; 
}

.teacherinfo{
    border: 1px solid #e64500 ;
}
.media h5{
    color: #002856 ;
    font-weight: bolder;
}
.borderfortab{
    border: 1px solid #e64500 ;
}

.tabcardimg{
    width: 200px;
    height: 200px;
}
img.modal-img{
    width:100%;
  max-height: 400px;
}
#footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}
 .carouselpara{
    font-size: 2rem;
  }
 .carouselpara1{
    font-size: 2rem;
  }

@media only screen and (max-width: 768px){
    .carouselpara1{
       font-size: 0.7rem;
     }
    .carouselpara{
       font-size: 0.8rem;
     }
   .newcourses{
        width: 100%;
       margin:1rem ;
   } 

}
