<link rel="stylesheet" type="text/css" href="style.css" >

<nav class="navbar navbar-expand-lg bg-light navbar-light"  >
    <a class="navbar-brand" href="#"><img src="http://nicknetvideos.herokuapp.com/nicknet.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">&nbsp;<span id="logoname" style="font-family: Impact, Charcoal, serif; ">Nicknet Online Learning</span></a>
    <button class="navbar-toggler" type="button "  data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" href="#" style="color: #002856;">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#" style="color: #002856;">Courses</a>
        <a class="nav-item nav-link" href="#" style="color: #002856;">Contact Us</a>
      </div>
    </div>
    <div id="buttonsonly">
    <p style="color: #002856; font-weight: bold;">Welcome </p>
  </div>
  </nav>